firmware/bin/**
firmware/dist/**
firmware/src/*.err
firmware/src/*.obj
firmware/src/build/**
firmware/src/disassembly/**
firmware/src/dist/**
firmware/src/funclist
firmware/src/nbproject/private/**
firmware/src/nbproject/Makefile-genesis.properties

hardware/bin/**
hardware/datasheets/**
hardware/dist/**
hardware/src/*-backups/
hardware/src/*.kicad_prl
hardware/src/fp-info-cache

private/**
temp/**
