firmware/bin/**
firmware/dist/**
firmware/src/*.err
firmware/src/*.obj
firmware/src/build/**
firmware/src/disassembly/**
firmware/src/dist/**
firmware/src/funclist
firmware/src/nbproject/private/**
firmware/src/nbproject/Makefile-genesis.properties

hardware/bin/**
hardware/dist/**

private/**
temp/**
